<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Look Up Form</h3>
  </div>
  <div class="panel-body">
</br>
<%= form_tag home_lookupform_path, :method => 'POST' do %>
<%= text_field_tag 'sym', nil, placeholder: 'Enter Crypto Symbol', size: 30 ,class: "form-control"  %>
<%= submit_tag 'Look up Stock quote', class:"btn btn-primary" %>

<% end%>
</br>
</br>
<%= @symbol %>
<% if @symbol%>
    <% for x in @lookupform_coin %>
            <% if @symbol == x["symbol"]  %>
            <%= x["name"]%> :| $ <%= x["price_usd"]%> :| <%= x["market_cap_usd"] %> :|</br> <%= x["rank"]%></br></br>
        <% end %>
    <% end %>
<% end%>
</div>
</div> 

